<h2 style="color:{{color}};">{{title}}</h2>
<p>Dear {{name}},</p>
<div class="email-content">
  <p>Your account has been deleted by the admin. If this is unexpected or an error, please contact our admin immediately.</p>
</div>
<p>We apologize for any inconvenience.</p>
