<h2 style="color:{{color}};">{{title}}</h2>
<p>Dear {{name}},</p>
<div class="email-content">
  <p>Your request to create an account has been approved!</p>
  <ul>
    <li>You can log in using your Chula Mail.</li>
    <li>You will use your points to reserve items. Points can be earned from club activities.</li>
    <li>Feel free to reach out if you have any questions!</li>
  </ul>
</div>
<p>Thank you for joining us. We look forward to serving you soon!</p>
